@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #222222;
  margin: 0;
}
